<body>
    <div id="header">
        <div class="logo">
            <a href="./index.html">Logo</a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="./app.html">App Features</a>
                </li>
                <li>
                    <a href="./shop.html">Assets</a>

                </li>
                <li>
                    <a href="./pricing.html">Pricing</a>
                </li>
                <li>
                    <a href="./community.html">Community</a>
                </li>
                <li>
                    <a href="">Log In</a>
                </li>
                <li>
                    <a href="">Subscribe</a>
                </li>
            </ul>
        </nav>
    </div>